<div class="container">
	<div class="p-5 rounded-lg m-3">
		<h1 class="display-4">{{ title }}</h1>
		<p class="lead">{{ description }}</p>
		<div class="spinner-border" role="status">
  		<span class="visually-hidden">Loading...</span>
		</div>
		<hr class="my-4">
		<a class="btn btn-primary btn-lg" href="{{ link.url }}" role="button">{{ link.title }}</a>
	</div>
</div>
